:root {
  --cor-primaria: #c2271d;
  --cinza-mais-claro: #E0E0E0;
  --cinza-claro: #8f8f8f;
  --cinza-menos-escuro: #7a7a7a;
  --cinza-escuro: #292929;
  --cinza-quase-preto: #141414;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--cinza-quase-preto);
  min-width: 320px;
  scroll-behavior: auto;
}

h1, h2, h3, h4 {
    font-family: "Fira sans", sans-serif;
}


h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}





main {
  overflow-x: hidden;
}

.screenshoot-bickcraft:hover {
  border: 3px solid var(--cor-primaria);
  font-size: 40px;
  cursor: pointer;
  margin: -3px;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  visibility: hidden;
}

.header {
  background-color: black;
  height: 50px;
  padding: 40px 20px;
}

.container-header {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-header {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

nav a {
  color: #fafafa;
}

.itens-lista-principal,
.lista-header {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  gap: 25px;
}

.itens-lista-principal {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
}

.logo {
  margin-left: 50px;
}

.introducao {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(420px, auto));
  margin: 0 auto;
  animation: show 1s forwards;

}

.foto-perfil {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 50px auto;
}

.titulo-introducao {
  padding-top: 80px;
  padding-left: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.detalhe-intro {
  position: absolute;
  display: inline-block;
  margin-left: 353px;
  margin-top: -23px;
}

.detalhe {
  display: inline-block;
  margin-left: 1px;
}

.palavra-inicial,
.texto-inicial {
  padding-left: 50px;
  font-weight: 400;
}

.texto-inicial {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: var(--cinza-menos-escuro);
  height: 200px;
  min-width: 700px;
}

.texto-inicial span {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.palavra-inicial {
  padding-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  color: var(--cor-primaria);
}

.titulo-skills {
  font-size: 64px;
}

.skills {
  padding-top: 100px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 77px;
}

.container-img {
  display: flex;
  padding-top: 40px;
  gap: 25px;
  justify-content: center;
}

.container-img p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 5px;
  letter-spacing: 0.015em;
  color: var(--cinza-menos-escuro);
}

.mais-sobre-mim img {
  height: 200px;
  width: 200px;
}

.mais-sobre-mim {
  max-width: 1400px;
  margin: 0 auto;
}

.pontos-a-se-destacar,
.em-desenvolvimento {
  margin: 120px auto;
  display: flex;
  padding: 50px;
  max-width: 1100px;
  max-height: 200px;
  left: 137px;
  top: 1420px;
  background: #fbfbfb;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 20px;
}

.container-pontos-a-se-destacar,
.container-em-desenvolvimento {
  display: flex;
  flex-direction: column;
}

.titulo-pontos-a-se-destacar,
.titulo-em-desenvolvimento {
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: var(--cinza-escuro);
  padding-top: 10px;
}

.descricao-pontos-a-se-destacar,
.descricao-em-desenvolvimento {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #666666;
}


.titulo-portifolio {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: var(--cinza-quase-preto);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
  grid-column: 1/3;
  line-height: 77px;
  font-weight: bold;
}



.link {
  color: #ffffff;
  font-size: 16px;
  padding-top: 10px;
}

.link:hover {
  color: var(--cor-primaria);
  text-decoration: underline;
}


.container-tecnologias {
  display: flex;
  gap: 10px;
  padding-top: 15px;
  margin-left: -4px;
}

.tecnologias {
  color: #f0f0f0;
  background: black;
  border: 1px solid #070707;
  border-radius: 6px;
  padding: 5px 10px;
}

footer {
  background: #000;
  color: #fff;
}

.container-footer {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #000;
  display: flex;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.estou-disponivel {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  place-self: center;
  padding-bottom: 50px;
  font-weight: 400;
}

.contato {
  display: flex;
  flex-direction: column;
  place-self: center;
  padding-bottom: 50px;
  order: 1;
}

.contato-telefone,
.contato-email {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: var(--cinza-mais-claro);
  font-weight: 400;
}

.contato img {
  height: 31px;
  width: 31px;
  padding-top: 5px;
  margin-right: 5px;
}

.linkedin-img {
  height: 28px;
  width: 28px;
}

.redes-sociais {
  display: flex;
}

.copyright {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--cinza-mais-claro);
  place-self: end;
  font-weight: 400;
}

.copyright a {
  color: #fff;
}

@media screen and (max-width: 1450px) {

  .texto-inicial {
    min-width: 400px;
  }
  .logo {
    margin-left: 0px;
  }

  .container-header {
    margin: 0 auto;
    max-width: 1400px;
  }

  .introducao {
    flex-direction: column;
  }

  .skills {
    padding-top: 20px;
  }

  .pontos-a-se-destacar,
  .em-desenvolvimento {
    max-width: 600px;
    padding: 40px !important;
  }

  .container-footer {
    margin-top: -1px;
  }


  .titulo-portifolio {
    font-size: 48px !important;
  }

  .redes-sociais {
    display: flex;
    place-self: center;
  }

  .rodape,
  .copyright,
  .contato {
    flex-direction: column;
    text-align: center;
    padding-left: 0px;
    width: 100%;
  }

  .contato {
    order: 0;
  }
}




@media screen and (max-width: 1000px) {
  .texto-inicial {
    min-width: 400px;
  }

  .texto-introducao {
    max-width: 600px;
    margin: 0 auto;
  }

  .container-header {
    flex-direction: column;
  }

  .container-img {
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }

  .div-img {
    justify-self: center;
  }

  .titulo-introducao {
    text-align: center;
    padding-left: 0px;
  }

  .detalhe-intro {
    position: absolute;
    display: inline-block;
    margin-left: 176px;
    margin-top: -23px;
  }

  .titulo-introducao2,
  .texto-inicial,
  .palavra-inicial {
    padding-left: 5px;
  }

  .palavra-inicial {
    font-size: 32px;
  }

  .texto-inicial {
    font-size: 21px;
  }

  .mais-sobre-mim {
    max-width: 600px;
    margin: 0 auto;
  }

  .pontos-a-se-destacar,
  .em-desenvolvimento {
    width: 500px;
  }

  .mais-sobre-mim img {
    height: 100px;
    width: 100px;
  }

  .titulo-pontos-a-se-destacar,
  .titulo-em-desenvolvimento {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .descricao-pontos-a-se-destacar,
  .descricao-em-desenvolvimento {
    font-size: 16px;
  }

}



@media screen and (max-width: 450px) {
  .logo {
    display: flex;
    place-content: center;
  }

  .container-header {
    margin: 0 auto;
    max-width: 1400px;
    display: block;
  }

  nav a {
    font-size: 12px;
  }

  .titulo-introducao {
    padding-top: 0px;
    font-size: 48px;
    line-height: 53px;
    padding-left: 0%;
  }

  .titulo-skills {
    line-height: 53px;
    font-size: 48px;
  }

  .palavra-inicial {
    font-size: 24px;
    padding-left: 10px;
  }

  .titulo-portifolio,
  .titulo-em-desenvolvimento,
  .titulo-pontos-a-se-destacar {
    font-size: 20px;
    line-height: 33px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .descricao {
    display: grid;
    justify-content: center;
  }

  .container-header {
    gap: 5px;
    flex-direction: column;
  }

  .foto-perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 50px auto;
  }

  .texto-inicial {
    max-width: 300px;
    font-size: 12px;
    line-height: 21px;
    min-width: 300px;
  }

  .container-img {
    display: flex;
    padding-top: 40px;
    gap: 25px;
    justify-content: center;
    flex-direction: column;
  }

  .div-img {
    margin: 0 auto;
  }

  .div-img p {
    font-weight: 500;
  }


  header {
    width: 100% - 10px;
  }

  .portifolio,
  .container-footer,
  .introducao,
  footer {
    width: 100%;
    justify-content: center;
  }

  .pontos-a-se-destacar,
  .em-desenvolvimento {
    width: 250px;
    margin: 0 auto;
  }

  .titulo-em-desenvolvimento,
  .titulo-pontos-a-se-destacar {
    padding-top: 0px;
    text-align: initial;
    padding-left: 5px;
  }

  .descricao-pontos-a-se-destacar,
  .descricao-em-desenvolvimento {
    padding-left: 5px;

    font-size: 14px;
  }

  .pontos-a-se-destacar,
  .em-desenvolvimento {
    max-height: 290px;
    padding: 20px;
    max-width: 270px;
  }

  .container-pontos-a-se-destacar,
  .container-em-desenvolvimento {
    font-size: 14px;
    width: 180px;
  }

  .titulo-pontos-a-se-destacar,
  .titulo-em-desenvolvimento {
    padding-bottom: 10px;
  }


  .mais-sobre-mim {
    margin: 90px auto;
  }

  .mais-sobre-mim img {
    width: 50px;
    height: 50px;
  }

  .pontos-a-se-destacar,
  .em-desenvolvimento {
    margin: 20px auto;
    padding: 20px 30px 80px 10px 80px;
  }

  .container-tecnologias {
    display: flex;
    gap: 10px;
    margin-left: -4px;
    font-size: 8px;
  }

  .container-tecnologias:nth-child(2) {
    display: flex;
    gap: 10px;
    margin-left: -4px;
    font-size: 8px;
    padding: 6px 4px;
    padding-top: 20px;
  }

  .container-footer {
    padding-top: 20px;
  }

  .contato-email,
  .contato-telefone,
  .estou-disponivel {
    font-size: 14px;
    line-height: 33px;
  }

  .contato-email,
  .contato-telefone {
    font-size: 18px;
    line-height: 33px;
  }

  .redes-sociais {
    place-self: center;
  }

  .copyright {
    order: 1;
    place-self: center;
  }

  .detalhe-intro {
    align-self: flex-end;
    margin-left: 132px;
    margin-top: -13px;
  }

  .detalhe {
    display: inline-block;
    margin-left: 1px;
    width: 5px;
    height: 5px;
  }
}

.barra {
  margin-top: 5px;
  width: 100%;
  background-color: white;
  height: 15px;
  border-radius: 10px;
  border: solid 2px #000;
  margin-bottom: 20px;
}

.progresso-css,
.progresso-js,
.progresso-html {
  height: 15px;
  background-color: #c2271d;
  border-radius: 10px;
  animation: progress-animation 8s;
}

.progresso-css {
  width: 100%;
}

.progresso-js {
  width: 40%;
}

.progresso-html {
  width: 100%;
}


@keyframes progress-animation {
  from {
    width: 0;
  }
}

.texto-inicial::after {
  content: "|";
  animation-name: efeitoEscrever;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  margin-left: 5px;
  opacity: 1;
}

@keyframes efeitoEscrever {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 1s;
}

.scroll {
  opacity: 1;
  transform: translate3d(0, 0, 0);

}

@media screen and (max-width: 650px) {

 
  .texto-introducao {
    max-width: 500px;
    margin: 0 auto;
  }

  .pontos-a-se-destacar,
  .em-desenvolvimento {
    max-width: 300px;
    max-height: 400px;
    padding: 40px 0 40px 0;
  }

  .mais-sobre-mim img {
    width: 50px;
    align-self: initial;
    margin-top: -20px;
  }



  .titulo-pontos-a-se-destacar,
  .titulo-em-desenvolvimento {
    font-size: 20px;
  }

  .descricao-pontos-a-se-destacar,
  .descricao-em-desenvolvimento {
    padding-left: 5px;
    font-size: 14px;
  }

}

.new-portifolio {
  max-width: 100%;
}

.lista-conteudo-portifolio {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  justify-items: center;
  margin-bottom: 70px;
}

.imagem-portifolio {
  max-width: 400px;
  min-height: 400px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: grid;
  position: relative;

}



.span-portifolio {
  color: #c2271d;
  padding-top: 10px;
  font-family: "Fira sans", sans-serif;
  font-size: 0.75em;
}

.new-portifolio li H2 {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: initial;
  align-self: initial;
}

.texto-portifolio {
  color: var(--cinza-claro);
}

.texto-portifolio span {
  font-weight: bold;
}

.new-portifolio a {
  color: #000;
}

.tecnologias-portifolio {
  display: flex;
}

.tecnologia {
  margin-top: 20px;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

svg {
  max-width: 30px;
  margin: 0 auto;
  align-self: center;
}

.svg-html:hover{
  fill: #b54c1f;
}
.svg-css, .svg-html, .svg-js{
  transition: fill 0.3s ease; /* Transição suave de cor */
}

.svg-css:hover {
  fill: #3283c7;
}



.svg-js :hover {
  fill: yellow;
}

.tecnologia img {
  max-width: 30px;
  margin: 0 auto;
}

.tecnologia:hover {
  background-color: #b2b2b2;
}

.botao-projeto {
  margin: 0 auto;
  background-color: white;
  max-width: fit-content;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #c2271d;
  font-weight: bold;
  align-self: end;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: medium;
  letter-spacing: 1.25px;
}

.botao-projeto:hover {
  cursor: pointer;
  background-color: #c2271d;

}

.texto-inicial, .palavra-inicial, .titulo-introducao {
  animation: show-up 2s forwards;
}


@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0px, 0px);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}